body {
    margin: 0;
}

#left {
    height: 858px;
    width: 560px;
    background-color: dodgerblue;
    float: left;
}

#center {
    height: 858px;
    width: 560px;
    background-color: #1EDCB2;
    float: left;
}

#right {
    height: 858px;
    width: 560px;
    background-color: #B5D880;
    float: left;
}

.red-box {
    margin-top: 670px;
    height: 188px;
    background-color: red;
    
}

p {
    font-family: sans-serif;
    font-size: 20px;
    color:white;
    text-align: center;
    padding: 86px;
}
